<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">

<!--  <link rel="stylesheet" media="screen and (min-width: 992px)" href="/css/widescreen.css">-->
<!--  <link rel="stylesheet" media="screen and (min-width: 768px)" href="/css/mediumscreen.css">-->
<!--  <link rel="stylesheet" media="screen and (max-width: 768px)" href="/css/smallscreen.css">-->


  <link rel="stylesheet" href="/css/styles.css">

  <title>Frontend Mentor | Space tourism website</title>
</head>
<body>

<div class="container">
<div class="nav-bar">
<ul class="nav">
  <li class="nav-item"><a class="nav-a" id="home" href="/">00 Home</a></li>
  <li class="nav-item"><a class="nav-a" id="destination" href="/destination">01 Destination</a></li>
  <li class="nav-item"><a class="nav-a" id="crew" href="/crew">02 Crew</a></li>
  <li class="nav-item"><a class="nav-a" id="technology" href="/technology">03 Technology</a></li>
</ul>
</div>
</div>


<input id="check01" type="checkbox" name="menu" />
<label for="check01">
  <div class="nav-drop">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</label>
<ul class="nav-dropdown">
  <li class="nav-item-dropdown"><a class="nav-a" id="home" href="/">00 Home</a></li>
  <li class="nav-item-dropdown"><a class="nav-a" id="destination" href="/destination">01 Destination</a></li>
  <li class="nav-item-dropdown"><a class="nav-a" id="crew" href="/crew">02 Crew</a></li>
  <li class="nav-item-dropdown"><a class="nav-a" id="technology" href="/technology">03 Technology</a></li>
</ul>
