* {
  box-sizing: border-box;

}

.index {
  background: url("assets/home/background-home-mobile.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
  color: white;
}


ul {
  position: absolute;
  right: 80px;
  top: 0;
  height: 80px;
  list-style-type: none;
  margin: 0px;
  padding-left: 0%;
  padding-right: 0px;
  overflow: hidden;
  background-color: #333;
  /*filter: blur(5px);*/
  width: 50%;
  text-align: center;
}

li {
/*  float: left;
*/  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 16px;
  margin-left: 0px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*#introP {
  margin-right: 50%;
}*/

div#textBox {
  height: 40%;
  line-height: 2;
  width: 100%;
  text-align: center;

}


#bigH1{
  font-size: 6rem;
  line-height: 0;
  margin-left: 0;

}

#bigH2 {
  line-height: 1;
}

#introP {
  line-height: 1.5;
}


button#explore {
  border-radius: 50%;
  background-color: white;
  font-size: 30px;
  padding: 90px 60px;
  text-align: center;
  float: right;
  margin-top: 20px;
  margin-right: 7%;
  display: inline-block;
}

  