<!DOCTYPE html>
<html lang="en" class="crew">

<%- include("partials/header") -%>



<h2 class="crew-title"><span style="color:grey">02</span> Meet Your Crew</h2>

<div class="wrapper">


<div class="crew-text">
<h2 class="crew-role"></h2>
<h1 class="crew-name"></h1>
<p class="crew-desc"></p>
</div>

<div class="crew-div">
<img class="crew-image" src="">
</div>


<div class="crew-menu-div">
<button class="crew-button active" id="commander"></button>
<button class="crew-button" id="specialist"></button>
<button class="crew-button" id="pilot"></button>
<button class="crew-button" id="engineer"></button>
</div>


</div>



<%- include("partials/footer") -%>
