<!DOCTYPE html>
<html lang="en" class="technology">

<%- include("partials/header") -%>


<h2 class="tech-title"><span style="color:grey">03</span> Space Launch 101</h2>

<div class="wrapper">

<div class="tech-menu-div">
<button class="tech-button active-tech" id="launch">1</button>
<button class="tech-button" id="spaceport">2</button>
<button class="tech-button" id="capsule">3</button>
</div>

<div class="tech-info">
<h2 class="tech-term">The Terminology</h2>
<h1 class="tech-name"></h1>
<p class="tech-desc"></p>
</div>


<div class="tech-image-div">
<img class="tech-image" src="">
</div>

</div>


<%- include("partials/footer") -%>
