* {
  box-sizing: border-box;

}

html {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.index {
  background-image: url("/assets/home/background-home-desktop.jpg");
}

.destination {
  background-image: url("/assets/destination/background-destination-desktop.jpg");
}

.crew {
  background-image: url("/assets/crew/background-crew-desktop.jpg");
}

.technology {
  background-image: url("/assets/technology/background-technology-desktop.jpg");
}


body {
  margin: 0;
  font-family: 'Nanum Myeongjo', serif;
}

h1 {
  color: white;
  font-size: 4rem;
}


h1, h2 {
  text-transform: uppercase;
}

h2, p {
  color: silver;
}

p {
  font-size: 1.25rem;
}


img#logo {
  margin-top: 3.5%;
  margin-left: 5%;
  margin-bottom: 0;
  display: inline-block;
}

hr#header-line {
  border: 1px solid silver;
  width: 35%;
  margin-left: 6%;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  bottom: 20px;
}



/*Nav Bar*/

.container{
  position: absolute;
  right:  0;
  top: 5%;
  height: 85px;
  width: 55%;
  background: inherit;
  overflow: hidden;
  border-radius: 10px;
}

.container:before{
  height: 550px;
  width: 100%;
  content: "";
  position: absolute;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);

}

#check01 {
  display: none;
}

ul.nav-dropdown {
  display: none
}

div.nav-bar {
  position: absolute;
  left: 10%;
  top: 0;
  margin-left: 0;
}

ul.nav {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 1vw;

}

li.nav-item {
display: inline-block;
}

li.nav-item a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 30px 16px;
  margin-left: 0;
  text-decoration: none;

}

li.nav-item a:hover {
  border-bottom: 3px solid whitesmoke;

}

.active {
  border-bottom: 3px solid whitesmoke;

}



/*Home Page*/
h1#bigH1{
  font-size: 9rem;
  line-height: 0.25;
  text-transform: uppercase;
  font-weight: bold;

}

#bigH2 {
  line-height: 1;
  text-transform: uppercase;
  margin-right: 0;

}

#introP {
  line-height: 1.75;
  margin-right: 20%;

}

div#textBox {
  margin-left: 15%;
  margin-top: 20%;
  line-height: 2;
  width: 40%;
  display: inline-block;
}

div#buttonDiv {
  width: 25%;
  float: right;
  display: inline-block;
  margin-right: 15%;
  margin-top: 25%;

}

#explore {
  border-radius: 50%;
  background-color: white;
  font-size: 30px;
  padding: 125px 75px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #111111;
  font-family: 'Nanum Myeongjo', serif;
  text-transform: uppercase;


}

#explore:hover {
  border-style: solid;
  border-color: whitesmoke;
  border-width: 50px;
}


/*Destination Page*/


ul.planet-list {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: small;

}

li.planet-list-item {
display: inline-block;
cursor: pointer;
}

li.planet-list-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 15px;
  margin-left: 10px;
  text-decoration: none;
}

li.planet-list-item a:hover {
  border-bottom: 5px solid whitesmoke;

}

div.planet-div {
  width: 50%;
  margin-left: 5%;
  margin-top: 10%;
  display: inline-block;

}

img.planet-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.planet-info {
  float: right;
  width: 38%;
  display: inline-block;
  margin-right: 5%;
  margin-top: 12%;
}

h2.destination-title {
  margin-bottom: 10%;
  margin-left: 10%;

}


h1.planet-title {
  font-size: 5rem;
  margin-top: 5%;
  margin-bottom: 0;
}

p.planet-desc {
  margin-right: 30%;
  margin-bottom: 10%;
  line-height: 1.75;
}

hr#dest {
  border-top: 1px solid silver;
  width: 80%;
  margin-left: 0;
  margin-bottom: 5%;
}

div.distance {
  display: inline-block;
}

div.time {
  display: inline-block;
  margin-left: 10%;
}

.invisible {
  visibility: hidden
}

p.distance-avg {

}


/*Crew Page*/

h2.crew-title {
  /* margin-left: 10px; */
  margin-bottom: 0;

}

h2.crew-role {
  margin-bottom: 0;
}

h1.crew-name {
  font-size: 3rem;
  margin-top: 2%;
}

p.crew-desc {
  margin-bottom: 20%;
  margin-right: 40%;
  line-height: 1.5;
}

/*Info text*/
div.crew-info {
  /* float: left; */
  width: 40%;
  display: inline-block;
  margin-left: 10%;
  border: 2px solid white;

}

/*Image*/
div.crew-div {
  float: right;
  display: inline-block;
  margin-right: 15%;
  margin-top: 0;
  width: 30%;
  height: auto;
  border: 2px solid white;
}

/* img.crew-image {
  float: right;
  width: 30%;

} */

/*Buttons*/
div.crew-menu-div {
  width: 30%;
  margin-left: 10%;
  margin-top: 0;
  border: 2px solid white;

}


button.crew-button {
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}




/*Technology Page*/

h2.tech-title {
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 0;
}

div.tech-info {
  float: left;
  width: 40%;
  display: inline-block;
  margin-left: 2%;
  margin-top: 10%;
}

img.tech-image {
  margin-left: auto;
  margin-right: 0;
  display: block;
  width: 95%;
}

div.tech-image-div {
  float: right;
  display: inline-block;
  margin-right: 0;
  margin-top: 2%;
  width: 40%;
  margin-bottom: 2%;
}


/*Buttons*/
.tech-button {
  margin: 10px;
  padding: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #111111;
  color: white;
  font-size: 1.75rem;

}

.active-tech {
  background-color: whitesmoke;
  color: black;
}

/*Buttons Div*/
div.tech-menu-div {
  width: 5%;
  margin-left: 7%;
  display: inline-block;
  float: left;
  margin-top: 15%;

}

h2.tech-term {
  margin-left: 0;

}

h1.tech-name {
  font-size: 4rem;
  margin-top: 5%;
  margin-bottom: 0;
  margin-left: 0;

}

p.tech-desc {
  margin-left: 0;
  margin-right: 20%;
  margin-bottom: 10%;
  line-height: 1.75;
  font-size: 1.25rem;
}



/*Screen between 768px and 992px (Tablet)*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.container {
    width: 65%;
    top: 0;

  }

  div.nav-bar {
    left: 5%;
  }

  hr#header-line {
  display: none;
  }

  #check01 {
    display: none;
  }

   div#textBox {
    width: 100%;
    margin-top: 15%;
    margin-left: 0;
    top: 100px;
    text-align: center;
    margin-bottom: 0;
  }

  #introP {
    margin-right: 10%;
    margin-left: 10%;
  }

  ul.nav {
    text-align: center;
    padding: 0;
    margin-top: 0;
    font-size: 1.5vw;
  }

  div#buttonDiv {
    float: left;
    width: 100%;
    margin-top: 5%;
  }
  .index {
    background-image: url("/assets/home/background-home-tablet.jpg");
  }

  .destination {
  background-image: url("/assets/destination/background-destination-tablet.jpg");
  }

  .crew {
  background-image: url("/assets/crew/background-crew-tablet.jpg");
  }

  .technology {
  background-image: url("/assets/technology/background-technology-tablet.jpg");
  }

  div.planet-div {
    width: 100%;
    margin-top: 15%;
    margin-left: 0;
  }

  div.planet-info {
    margin-top: 5%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  p.planet-desc {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  line-height: 1.75;
}

  hr {
    margin-left: 10%;
  }

  /*Crew*/

  h2.crew-title {
    margin-left: 20px;
    margin-bottom: 0;
    text-align: left;

  }


  p.crew-desc {
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
  }

  div.crew-info {
    margin-top: 15%;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  div.crew-div {
    float: left;
    width: 100%;
    margin-top: 5%;

  }

  img.crew-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 60%;
  width: 60%;

}

 /*Technology*/

  div.wrapper {
    display: flex;
    flex-direction: column;
  }


  div.tech-info {
  float: right;
  width: 100%;
  margin-left: 0;
  margin-top: 2%;
  text-align: center;
  order: 3;

}

img.tech-image {
  margin-left: auto;
  margin-right: 0;
  display: block;
  width: 100%;

}

div.tech-image-div {
  margin-right: 0;
  margin-top: 6%;
  width: 100%;
  margin-bottom: 0;
  order: 1;
}


/*Buttons*/
.tech-button {
  margin: 0 5%;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #111111;
  color: white;

}


/*Buttons Div*/
div.tech-menu-div {
  width: 100%;
  margin-left: 0;
  margin-top: 5%;
  float: left;
  order: 2;
  text-align: center;
}


p.tech-desc {
  line-height: 1.75;
  font-size: 1.25rem;
  width: 80%;
  margin-left: 10%;
}

.active-tech {
  background-color: whitesmoke;
  color: black;
}

  }

/*Screens 768px and smaller (Phone)*/
@media screen and (max-width: 768px) {

  div.container {
    width: 100%;
    top: 0;
    display: none;

  }

    div.nav-bar {
    width: 100%;
    top: 0;
    left: 0;
    display: none

  }

  hr#header-line {
  display: none;
  }

  #check01 {
    display: none;
  }


  /* ul.nav {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: small;


  } */


  /*position the label*/
  /* label {
    position: relative;
    display: block;
    cursor: pointer;
  } */

  /*show the submenu when input is checked*/
  input:checked~ul.nav-dropdown {
    display: block;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 0;
    width: 70%;
    /* background-color: grey; */

  }


  .nav-dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .nav-dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .nav-dropdown a:hover {
    background-color: grey;
  }


/*Div containing each bar*/
  .nav-drop {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }

/*Nav Bars*/
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }


/*Nav Change Class*/
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


  div#textBox {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  #introP {
    margin-right: 10%;
    margin-left: 10%;
  }


  div#buttonDiv {
    float: left;
    width: 100%;
    margin-top: 5%;
  }

  .index {
    background-image: url("/assets/home/background-home-mobile.jpg");
  }

  .destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  }

  .crew {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
  }

  .technology {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
  }


  div.planet-div {
    width: 100%;
    margin-top: 20%;
    margin-left: 0;
  }


   div.planet-info {
    margin-top: 5%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }


  p.planet-desc {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  line-height: 1.75;
}

  hr {
    margin-left: 10%;
  }


  h2.crew-title {
    margin-left: 20px;
    margin-bottom: 50px;
    text-align: left;
    /*position: relative;*/
    /*left:0;*/
  }

  p.crew-desc {
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    /*display: block;*/
  }

  div.crew-menu-div {
    order: 2;
    width: 100%;
  }

  div.crew-info {
    margin-top: 15%;
    margin-left: 0;
    width: 100%;
    text-align: center;
    order: 3;
  }

  div.crew-div {
    /*float: left;*/
    width: 100%;
    margin-top: 5%;
    order: 1;

  }

  img.crew-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 60%;
  width: 60%;

}


  div.wrapper {
    display: flex;
    flex-direction: column;
  }


  div.tech-info {
  float: right;
  width: 100%;
  margin-left: 0;
    margin-top: 2%;
  /*margin-top: 15%;*/
  text-align: center;
  order: 3;

}

img.tech-image {
  margin-left: auto;
  margin-right: 0;
  display: block;
  width: 100%;
  /*margin-top: 8%;*/
  /*float: right;*/
}

div.tech-image-div {
  margin-right: 0;
  margin-top: 6%;
  /*height: auto;*/
  width: 100%;
  margin-bottom: 0;
  order: 1;
}


/*Buttons*/
.tech-button {
  margin: 0 5%;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #111111;
  color: white;
  /*font-size: 1.75rem;*/

}


/*Buttons Div*/
div.tech-menu-div {
  width: 100%;
  margin-left: 0;
  margin-top: 5%;
  float: left;
  order: 2;
  text-align: center;
}


p.tech-desc {
  line-height: 1.75;
  font-size: 1.25rem;
  width: 80%;
  margin-left: 10%;
}

.active-tech {
  background-color: whitesmoke;
  color: black;
}


}
