<!DOCTYPE html>
<html lang="en" class="index">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  
  <link rel="stylesheet" href="css/styles.css">
  
<!--   <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
  <link rel="stylesheet" media="screen and (min-width: 768px)" href="mediumscreen.css">
  <link rel="stylesheet" media="screen and (min-width: 992px)" href="bigscreen.css"> -->


  <title>Space Tourism</title>
</head>
<body>

<div class="nav-bar">
<ul class="nav">
  <li class="nav-item"><a class="active" href="index.html">00 Home</a></li>
  <li class="nav-item"><a href="destination-mars.html">01 Destination</a></li>
  <li class="nav-item"><a href="views/HTML/crew-pilot.html">03 Crew</a></li>
  <li class="nav-item"><a href="views/HTML/technology-vehicle.html">04 Technology</a></li>
</ul>
</div>

<div id="textBox">
  <h2 id="bigH2">So, you want to travel to</h2>
  <h1 id="bigH1">Space</h1>
  <p id="introP">Let’s face it; if you want to go to space, you might as well genuinely go to 
  outer space and not hover kind of on the edge of it. Well sit back, and relax 
  because we’ll give you a truly out of this world experience!</p>
</div>


<div id="buttonDiv">
<button id="explore">Explore</button>
</div>


<script src="../../public/script.js"></script>
</body>
</html>